# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model and large files
*.h5
*.keras
*.pkl
*.joblib

# Dataset files
*.csv
*.xlsx
*.zip

# Temporary files
*.log
*.tmp
